# Don't include the datasets and models
/datasets
/models

# Don't include profiling outputs
/profiling

# Don't include the generated minibatches
/minibatches

# Local generated skills should not be committed
/skills
