name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/muriel-salvan/ruby-neural-nets-builder:ubuntu25.10
      options: --user root

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4.8'
        bundler: '4'
        # Don't perform bundle install now: we first need bundle config
        bundler-cache: false

    - name: Configure bundle for torch-rb
      run: bundle config set --local build.torch-rb "--with-torch-dir=${{ env.LIBTORCH_PATH }}"

    - name: Install dependencies
      run: bundle install

    - name: Run tests
      run: |
        ls -la /usr/lib/x86_64-linux-gnu/libvips.*
        nm -gD /usr/lib/x86_64-linux-gnu/libvips.so.42
        bundle exec rspec --format documentation